html, body {
  overflow-y: auto;
}

.header {
  border-bottom:1px solid rgba(65,65,65,0.2);
  margin: 0 0 3px;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  background: white;
  z-index: 99999;
  top: 0;
}

.logo {
  display: block;
  height: 40px;
  margin: 0 auto;
}

.tabs {
  background: $white;
  height: auto;
  min-height: 11rem;
  padding-top: 5rem;
  position: fixed;
  width: 100%;
  z-index: 20;

  a {
    border: none !important;

    &:hover {
      color: $info;
    }
  }

  .is-active a {
    border: none;
    color: $success !important;
  }
}

.mainRegion {
  padding-top: 10rem;
}

.content {
  padding-top: 5rem;
}

.tag {
  margin: 0 1rem 0 .5rem;
}