.search-box {
  border-bottom: 1px solid $grey-light;
  padding-bottom: 2rem;
}

.viewMode {
  color: $dark;
  display: block;
  padding-top: .35rem;

  &:hover {
    color: $info;
  }
}

.columns {
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: 1rem;
  }
}

.recipe-card {
  .card-header-title {
    font-size: .75em;
  }

  .card-footer-item {
    color: $grey-dark;

    &:hover {
      color: $info;
    }

    .fa-eye { color: $info; }
    .fa-pencil { color: $success; }
    .fa-trash { color: $danger; }
  }
}

.recipe-items {
  margin-top: 0.01rem;

  .box {
    border-radius: 0;
  }
}

.recipe-item {
  padding: 0;

  .content {
    padding-top: .5rem;
  }

  strong {
    font-size: .85em;
  }

  .fa-eye { color: $info; }
  .fa-pencil { color: $success; }
  .fa-trash { color: $danger; }
}