.recipe {
  .fa-star {
    color: $danger;
  }

  .fa-circle {
    color: $success;

    &.is-warning {
      color: $danger;
    }
  }

  .image.is-128x128 {
    height: 100%;
    margin: 0 auto 1rem;
    max-height: 480px;
    max-width: 480px;
    width: 100%;
  }

  .box {
    border-radius: 0;
    margin-bottom: 0;
  }

  .date-picker {
    margin: 0;
  }

  .recipe-times {
    margin: 0 auto 1rem;
    max-width: 480px;
  }

  .fa-reply { color: $info; }
  .fa-pencil, .fa-calendar { color: $success; }
  .fa-trash { color: $danger; }
  .fa-check { color: $success; }
  .fa-close { color: $warning; }

  .card-footer-item-delete {
    margin-left: 1rem;
    .fa-trash { font-size: 2em !important; }
  }

  .panel-block .columns {
    margin: 0;
  }

  .panel-block .is-fullwidth {
    width: 100%;
  }

  .panel .is-2 {
    margin: 1rem auto;
  }

  .courses, .categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .chip-add .is-fullwidth {
    width: 100%;
  }

  .chip-add .is-4 {
    margin: 1rem auto;
  }

  .tag {
    margin: 0 0 .5rem;
  }

  .make-it-block {
    display: block;
    margin: 0 auto;
    position: relative;
  }
  .make-it-inline {
    display: inline-block;
    position: relative;
  }

  .column.is-centered {
    margin-left: auto;
    margin-right: auto;
  }
}