.supplier-items {
  margin-top: 0.01rem;

  .box {
    border-radius: 0;
  }
}

.supplier-item {
  padding: 0;

  .content {
    padding-top: .5rem;
  }

  strong {
    font-size: .85em;
  }

  .fa-arrow-right { color: $info; }
}